@import url(https://use.fontawesome.com/releases/v5.10.2/css/all.css);


li {
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    margin: 5px;
    border-radius: 50%;
    background-color: #e5e4e2;
    padding: 10px;
    overflow: hidden;
}

a {
    color: black;
}

ul li:nth-child(1) a:hover {
    color: #035096;
}

ul li:nth-child(2) a:hover {
    color: #00b7eb;
}

ul li:nth-child(3) a:hover {
    color: #cc0000;
}

ul li:nth-child(4) a:hover {
    color: #007aa5;
}

ul li:nth-child(5) a:hover {
    color: #4682b4;
}